html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li, 
abbr, acronym, address, b, big, blockquote, 
cite, code, del, dfn, em, i, ins, kbd, pre, q, 
samp, tt, var, small, strong, sub, sup, 
object, iframe, form, fieldset, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
textarea, input, select	{
    font-family: inherit;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
}
article, aside, footer, header, nav, section,
dialog, figure, hgroup, menu {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 35px;
    line-height: 44px;
}
h2 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 16px;
}

body {
    overflow: auto;
    background: white;
    color: black;
    font: normal normal normal 14px/normal Helvetica, Arial, sans-serif;
    line-height: 18px;
}
a {
    color: #E92;
    text-decoration: none;
}
a:hover {
    color: #F51;
}
a:hover, a:active {
    outline: none;
}
.empty a {
    color: #E92;
    text-decoration: line-through;
}

header {
    overflow-y: hidden;
    min-width: 960px;
    margin-top: 20px;
    padding-left: 360px;
}
#logo {
    float: left;
    width: 304px;
    margin-left: -340px;
}
#main {
    overflow-y: auto;
    min-width: 960px;
    margin-top: 50px;
    padding-left: 360px;
}
#content {
    overflow: auto;
}
#sidebar {
    float: left;
    width: 304px;
    margin-left: -340px;
}
footer {
    overflow-y: auto;
    margin-top: 30px;
    padding: 20px 20px;
    text-align: center;
    color: #DDD;
    background-color: #666;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
}

footer a {
    margin: 0 30px;
}

header h1 {
    font-size: 70px;
    margin: 10px 0;
}
nav {
    overflow: auto;
    background-color: #DDD;
    border: 2px solid #777;
    border-radius: 8px;
    -moz-border-radius: 8px;
}
nav ul {
    overflow: auto;
    list-style: none;
}
nav li.selected {
    color: #F51;
}
nav li.selected.empty {
    color: #F51;
    text-decoration: line-through;
}
nav li.selected::after {
    content: "*";
}

header nav {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}
header nav li {
    float: left;
    padding: 10px 20px;
    text-align: center;
    border-left: 1px solid #AAA;
}
header nav li:first-child {
    border-width: 0;
}

#sidebar nav.accounts {
    margin-bottom: 30px;
}
#sidebar nav h2 {
    padding: 10px 20px;
    color: #DDD;
    background-color: #666;
    font-size: 18px;
    line-height: 24px;
}
#sidebar nav li {
    padding: 10px 20px;
    border-top: 1px solid #AAA;
}
#sidebar nav li.months {
    overflow: auto;
    padding: 0 10px 0 20px;
}
#sidebar nav li.month {
    float: left;
    display: block;
    width: 22px;
    padding: 10px 0;
    border-width: 0;
}

div.report-intro {
    overflow: auto;
    margin: 30px 0 40px 0;
}
div.account-info {
    float: left;
}
div.report-info {
    float: left;
    margin-left: 40px;
}

table {
    border-collapse: separate;
    border-spacing: 0 0;
}
tr:nth-child(odd) {
    background-color: #DDD;
}
tr:first-child {
    color: #DDD;
    background-color: #666;
}
th {
    font-weight: bold;
    vertical-align: top;
}
th, td {
    padding: 5px 7px;
    text-align: left;
}
th:first-child, td:first-child {
    padding-left: 12px;
}
th:last-child, td:last-child {
    padding-right: 12px;
}
td.date, th.date {
    text-align: left;
    max-width: 80px;
}
td.activity, th.activity {
    text-align: left;
    max-width: 80px;
}
td.number, th.number {
    text-align: right;
    max-width: 100px;
}
